.hero {
    position: relative;
    min-height: 70vh;
    /* ajusta a tu gusto */
    height: calc(100vh - 60px);
    width: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.hero__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* CLAVE */
    object-position: center;
    transform: scale(1.02);
    /* pequeño truco para evitar bordes */
}

.hero__video1 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    /* CLAVE */
    object-position: center;
    transform: scale(1.02);
    /* pequeño truco para evitar bordes */
}