.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313045;
    padding: 10px 20px;

}

@media (min-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .nav-link {
        margin: 10px 0;
    }
}