.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313045;
    padding: 10px 20px;
}

.icon-navbar {
    font-size: 1.4rem;
    color: white;
}