.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #565F64;
    padding: 10px 40px;
}

.navbar-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #565F64;
    padding: 10px 20px;
}

.icon-navbar {
    font-size: 1.4rem;
    color: white;
}

.logoImg {
    height: 40px;
}

.navbar-1-style {
    background-color: #565F64;
    /* display: flex; */
    /* align-items: center; */

}