.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.imgNosotros {
    object-fit: cover;
}

.containerNosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}